.icon{
    display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center;

}
.icon-1 {
    background: url(../../assets/ic-1.png) 0 50% no-repeat;
}

.icon-2 {
    background: url(../../assets/ic-2.png) 0 50% no-repeat;
}

.icon-3 {
    background: url(../../assets/ic-3.png) 0 50% no-repeat;
}

.icon-4 {
    background: url(../../assets/ic-4.png) 0 50% no-repeat;
}
