.card {
    margin-left: 0;
}
.PostTitle {
    background: rgb(227, 242, 253);
    padding: 10px;
}

.PostText {
    background: rgb(250, 227, 253);
    padding: 10px;
    height: 100px;
}

.PostDate {
    background: rgb(234, 253, 227);
    padding: 10px;
}
.btn {
    margin-right: 10px;
}