
.about-us {
    display: flex;
    margin: 50px 0;

}

.about-us-img,
.about-us-info {
    width: 50%;
}

.about-us-img img {
    width: 100%;
    height: auto;
    display: block;
}

.about-us-info {
    background-color: #ffc155;
    display: flex;
}

.info-inner {
    max-width: 600px;
    padding-left: 80px;
    box-sizing: border-box;
    margin: auto 0;
}
